In [5]:
import numpy as np
import pandas as pd
import os
os.getcwd()

'C:\\Users\\J\\Desktop'

In [15]:
biteData = pd.read_csv('data/dog/dogbite.csv', delimiter=",")
licenseData = pd.read_csv('data/dog/doglicense.csv', delimiter=",")

In [25]:
print('Shape of biteData: ',biteData.shape)
biteData.head()

Shape of data:  (10280, 9)

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode
0,1,January 02 2015,DOG,"Poodle, Standard",3,M,True,Brooklyn,11238
1,2,January 02 2015,DOG,HUSKY,NaN,U,False,Brooklyn,11249
2,3,January 02 2015,DOG,NaN,NaN,U,False,Brooklyn,NaN
3,4,January 01 2015,DOG,American Pit Bull Terrier/Pit Bull,6,M,False,Brooklyn,11221
4,5,January 03 2015,DOG,American Pit Bull Terrier/Pit Bull,1,M,False,Brooklyn,11207

In [24]:
print('Shape of licenseData: ',licenseData.shape)
licenseData.head()

Shape of data:  (345727, 10)

,RowNumber,AnimalName,AnimalGender,AnimalBirthMonth,BreedName,Borough,ZipCode,LicenseIssuedDate,LicenseExpiredDate,Extract Year
0,1,PAIGE,F,2014,American Pit Bull Mix / Pit Bull Mix,NaN,10035,09/12/2014,09/12/2017,2016
1,2,YOGI,M,2010,Boxer,NaN,10465,09/12/2014,10/02/2017,2016
2,3,ALI,M,2014,Basenji,NaN,10013,09/12/2014,09/12/2019,2016
3,4,QUEEN,F,2013,Akita Crossbreed,NaN,10013,09/12/2014,09/12/2017,2016
4,5,LOLA,F,2009,Maltese,NaN,10028,09/12/2014,10/09/2017,2016

## Cleaning data

In [28]:
pd.isnull(biteData).sum()

UniqueID         0
DateOfBite       0
Species          0
Breed         1588
Age           4746
Gender           0
SpayNeuter       0
Borough          0
ZipCode       2667
dtype: int64

In [30]:
pd.isnull(licenseData).sum()

RowNumber                  0
AnimalName               706
AnimalGender              18
AnimalBirthMonth           0
BreedName                  0
Borough               345727
ZipCode                    0
LicenseIssuedDate          0
LicenseExpiredDate         0
Extract Year               0
dtype: int64

In [33]:
data1 = biteData.dropna()
data1.shape

(4707, 9)